body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../单间_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:23px;
    top:53px;
    width:1242px;
    height:512px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1248px;
    height:518px;
}

.u1 {
    position:absolute;
    left:2px;
    top:248px;
    width:1238px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:431px;
    top:76px;
    width:71px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:502px;
    top:76px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_line {
    background-image: url('../单间_files/u4_line.png');
}

.u4_line {
    position:absolute;
    left:0px;
    top:4px;
    width:1194px;
    height:3px;
}

.u4 {
    position:absolute;
    left:32px;
    top:273px;
    width:1194px;
    height:10px;
    
}

.u5_normal {
    background-image: url('../单间_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:131px;
    top:131px;
    width:338px;
    height:115px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:344px;
    height:121px;
}

.u6 {
    position:absolute;
    left:2px;
    top:50px;
    width:334px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../单间_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:54px;
    top:317px;
    width:84px;
    height:70px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:76px;
}

.u8 {
    position:absolute;
    left:2px;
    top:27px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../单间_files/u7_normal.png');
}

.u9_container {
    position:absolute;
    left:174px;
    top:317px;
    width:84px;
    height:70px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:76px;
}

.u10 {
    position:absolute;
    left:2px;
    top:27px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:336px;
    top:138px;
    width:40px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:165px;
    top:138px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:165px;
    top:164px;
    width:43px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:262px;
    top:164px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:150px;
    top:215px;
    width:287px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u16_normal {
    background-image: url('../单间_files/u5_normal.png');
}

.u16_container {
    position:absolute;
    left:701px;
    top:131px;
    width:338px;
    height:115px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:344px;
    height:121px;
}

.u17 {
    position:absolute;
    left:2px;
    top:50px;
    width:334px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:865px;
    top:138px;
    width:149px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:735px;
    top:138px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:735px;
    top:170px;
    width:43px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:778px;
    top:170px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:720px;
    top:215px;
    width:287px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u23 {
    position:absolute;
    left:933px;
    top:70px;
    width:150px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:150px;
    top:250px;
    width:195px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

