<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bright.examples.demos"
    android:versionCode="2"
    android:versionName="2.3.1.1" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="18" />
    <!-- BrightBeacon-SDK需要的权限. -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_VIDEO" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!-- 設置是否允许在沒有BLE的设备运行. -->
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="false" />

    <application
        android:icon="@drawable/beacon_gray"
        android:label="BrightBeacon-SDK示例"
        android:theme="@android:style/Theme.Holo.Light" >
        <activity
            android:name="com.bright.examples.demos.AllDemosActivity"
            android:label="BrightBeacon-SDK示例"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bright.examples.demos.BRTBeaconManagerListBeaconsActivity"
            android:label="选择Beacon体验"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bright.examples.demos.BRTBeaconDistanceActivity"
            android:label="距离感应 示例"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bright.examples.demos.BRTNotifyDemoActivity"
            android:label="范围感应示例"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bright.examples.demos.BRTBeaconConnectionDemoActivity"
            android:label="配置Beacon示例"
            android:screenOrientation="portrait" />
        <!-- BrightBeacon 扫描服务. -->
        <service
            android:name="com.brtbeacon.sdk.service.BRTBeaconService"
            android:exported="false" />
    </application>

</manifest>